<footer>
  <section>
    <b>Impressum</b>
    <p>
      Verantwortlich laut §5 TMG<br>
      Jakob Hohlfeld, Schillerstraße 40, 38440 Wolfsburg<br>
      <a href="privacy.html">Datenschutzerklärung</a>
    </p>
  </section>
  <section>
    <p>
      Polyban.io Web Consulting<br>
      Jakob Hohlfeld<br>
      Schillerstraße 40<br>
      ℅ Schiller40 CoWorking-Space<br>
      38440 Wolfsburg<br>
      <a href="http://polyban.io" target="blank">http://polyban.io</a>
    </p>
  </section>
  <section>
    <p>
      <a
        href="https://twitter.com/jhohlfeld"
        class="twitter-follow-button"
        data-show-count="false"
        data-show-screen-name="false"
        data-size="large"
      >
        @jhohlfeld folgen
      </a>
      <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </p>
  </section>
</footer>
