/*! Voice.link style sheet */
html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Verdana, sans-serif;
}

header {
  padding: 0 1em;
  background-color: whitesmoke;
}

main {
  flex: 1;
  margin: 2em 1em;
}

main h2:first-child {
  margin-top: 0;
}

footer {
  display: flex;
  flex-direction: row;
  margin: 0 -1em;
  padding: 1em;
  background-color: whitesmoke;
  color: rgba(0,0,0,.6);
}

footer section {
  font-size: 80%;
  padding: 0 1.25em;
}

footer .privacy {
  font-size: 80%;
}

.button.cta {
  background-color: hsl(122, 39%, 49%);
  border: 1px solid hsl(88, 50%, 53%);
  border-radius: .4em;
  border-width: 0 1px 1px 0;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  padding: .75em 1em;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  font-size: 1.2em;
  letter-spacing: .1em;
}

td {
  vertical-align: top;
}
